# Order Book Simulator v1
This is an _extremely_ simple, dumb order book implementation, but it will give you the idea of the mechanics as well as the complexity of book logic.

In [2]:
%matplotlib inline
%run orderbook.py

In [3]:
# let's make a new book
new_book()

In [4]:
# show it
show_book()

Empty DataFrame
Columns: [B_QTY, B_PX, S_PX, S_QTY]
Index: []

What happens when orders arrive?

In [5]:
new_order( order_side = 's', order_price = 99, order_qty = 1900, display_book=True )

   B_QTY  B_PX  S_PX  S_QTY
0    NaN   NaN    99   1900

In [6]:
new_order( order_side = 's', order_price = 110, order_qty = 19000, display_book=True )

   B_QTY  B_PX  S_PX  S_QTY
0    NaN   NaN    99   1900
1    NaN   NaN   110  19000

In [7]:
new_order( order_side = 'b', order_price = 98, order_qty = 1900, display_book=True )

    B_QTY  B_PX  S_PX  S_QTY
0  1900.0  98.0    99   1900
1     NaN   NaN   110  19000

In [8]:
new_order( order_side = 'b', order_price = 98.99, order_qty = 500, display_book=True )

   B_QTY   B_PX  S_PX  S_QTY
0    500  98.99    99   1900
1   1900  98.00   110  19000

In [9]:
new_order( order_side = 's', order_price = 105, order_qty = 200, display_book=True )

    B_QTY   B_PX  S_PX  S_QTY
0   500.0  98.99    99   1900
1  1900.0  98.00   105    200
2     NaN    NaN   110  19000

How about a marketable order?

In [10]:
new_order( order_side = 'b', order_price = 99, order_qty = 200, display_book=True )

    B_QTY   B_PX  S_PX  S_QTY
0   500.0  98.99    99   1700
1  1900.0  98.00   105    200
2     NaN    NaN   110  19000

In [11]:
trades

[(99, 200)]

How about a bigger order?

In [45]:
new_order( order_side = 'b', order_price = 105, order_qty = 2000, display_book=True )

   B_QTY    B_PX   S_PX    S_QTY
0    100  105.00  110.0  19000.0
1    500   98.99    NaN      NaN
2   1900   98.00    NaN      NaN

In [46]:
trades

[(99, 200), (99, 1700), (105, 200), (99, 200), (99, 1700), (105, 200)]

In [47]:
get_BBO()

((105, 100), (110, 19000))

**Are there any limitations to this implementation?**

Plenty!
* Update orders in place
* Delete orders
* Keep track of multiple orders / time priority at a given price point

Other things we could do to make this better
* Object Oriented version to protect data a bit better
* Dump trades to a DataFrame
* Display Order Book Metrics
* Automate and simulate orders in a book 
* Random side at inside market
* Random size
* Random side and price (scaled to volatility)